<div class="menu-list-helps">
	<div class="mask">	
		<div class="menu-list-helps-content">
			<div class="menu-list-helps-back2">
				<div class="menu-list-help-title"></div>
				<!-- <div class="menu-list-help-close" id="close"></div> -->
				<button class="menu-list-help-close" id="close"></button>
				<div class="menu-list-help-main-content">
					<p>1、观看用户可以选择投注抓取结果“抓到/抓不到”。</p>
					<p>2、用户每天有一定次数的猜取机会，在赠送的次数内投注“抓到”消耗一定的砖石，超过赠送次数后投注“抓到”消耗更多的砖石，在赠送的次数内投注“抓不到”只消耗次数不消耗砖石，超过赠送次数后投注“抓不到”消耗一定的砖石。</p>
					<p>3、观看用户投注“抓到”并猜对，可以获得和操作用户一样的奖品。</p>
					<p>4、观看用户投注“抓不到”并猜对，可以获得奖励碎片，碎片达到一定数量可以兑换奖品</p>
					<p>5、观看用户投注错误情况下，没有奖品或者碎片获取。</p>
					<p>6、砖石不足情况下可以通过充值获得砖石。</p>
				</div>	

			</div>

		</div>	
	</div>				
</div>	