<div class="menu-list-details">
	<div class="mask">	
		<div class="menu-list-details-content">
			<div class="menu-list-details-back2">
					<div class="menu-list-detail-title"></div>
					<!-- <div class="menu-list-detail-close" id="close"></div> -->
					<button class="menu-list-detail-close" id="close"></button>
					<div class="menu-list-detail-button">
						<button id="cancer"></button>
						<button id="detail-query" class="query"></button>
					</div>
				<div class="menu-list-detail-main-content">
					<div class="head" id="detail-img"></div>
					<div class="list">
						<ul>
							<li>
								<label>材质:</label>
								<span id="material">PU</span>
							</li>
							<li>
								<label>物长:</label>
								<span id="width">约10CM</span>
							</li>
							<li>
								<label>物宽:</label>
								<span id="length">约10CM</span>
							</li>
							<li>
								<label>详情:</label>
								<span id="desc">超可爱的手办型小人偶，共10种随机发货，不可自选</span>
							</li>
						</ul>
					</div>
				</div>	

			</div>

		</div>	
	</div>				
</div>	