<div class="menu-list-setups">
	<div class="mask">	
		<div class="menu-list-setups-content">
			<div class="menu-list-setups-back2">
				<div class="menu-list-setup-main-content">
					<div class="setup-tip">
						<h2>提示</h2>
						<p>是否反馈机器需要维修？</p>
					</div>
					<div class="setup-button">
						<!-- <div class="button cancer" id="cancer">取消</div> -->
						<button class="button cancer" id="cancer" style="background: white">取消</button>
						<!-- <div class="button query" id="setup-query">确定</div> -->
						<button class="button query" id="setup-query" style="background: white">确定</button>
					</div>
				</div>	
			</div>

		</div>	
	</div>				
</div>	