<div class="menu-list-connects">
	<div class="mask">	
		<div class="menu-list-connects-content">
			<div class="menu-list-connects-back2">
					<div class="menu-list-connect-title"></div>
					<!-- <div class="menu-list-connect-close" id="close"></div> -->
					<button class="menu-list-connect-close" id="close"></button>
					<div class="menu-list-connect-button">
						<button id="connect-query" class="query"></button>
					</div>
				<div class="menu-list-connect-main-content">
					<div class="item item1">
						<div class="item-title item-title1">
							<img src="img/menulist/menu_connect/email.png" alt="邮箱">
							<span>客服邮箱:</span>
						</div>
						<div class="item-content item-content1">
							zhuazhuale@game.com
						</div>
					</div>
					<div class="item item2">
						<div class="item-title item-title2">
							<img src="img/menulist/menu_connect/qq.png" alt="qq">
							<span>客服QQ:</span>
						</div>
						<div class="item-content item-content2">
							1234567890
						</div>
					</div>
					<div class="item item3">
						<div class="item-title item-title3">
							<img src="img/menulist/menu_connect/webchat.png" alt="微信">
							<span>微信公众号:</span>
						</div>
						<div class="item-content item-content3">
							抓抓乐
						</div>
					</div>
					<div class="item item4">
						<div class="item-title item-title4">
							<img src="img/menulist/menu_connect/xinlang.png" alt="新浪微博">
							<span>新浪微博:</span>
						</div>
						<div class="item-content item-content4">
							抓抓乐
						</div>
					</div>
				</div>	

			</div>

		</div>	
	</div>				
</div>	





