<div class="share1">
	<div class="share1-title">
		<div class="share1-back" id="share1-back">
			<img src="img/menulist/menu_share/back-icon.png" alt="返回">
			<span>返回</span>			
		</div>

	</div>
	<div class="share1-top"></div>
	<div class="share1-middle">
		<div class="middle-top">
			<p>每邀请一位好友，双方均可获得免费抓取券*1</p>
			<p>您的邀请码</p>
		</div>	
		<div class="middle-bottom" id="share1-Invitation">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>	
	</div>
	<div class="share1-bottom">
		<div class="QR-code">
			<div class="QR-code-content" id="share1-QR">
				<img src="img/menulist/menu_share/QR-code.png" alt="二维码">
			</div>
		</div>
		<div class="share-btn">
			<button id="share-btn">
				<img src="img/menulist/menu_share/share-btn.png" alt="分享">
			</button>
		</div>
	</div>
</div>