<div class="mask menu">
	<div class="menu-content">
		<div class="menu-head">
			<div class="head-img" id="menu-head-img"></div>
			<div class="head-name">
				<span id="menu-head-name">我是猫猫咪</span>
				<img src="img/menu/menu_write.png" alt="编辑">
			</div>
			<div class="head-ID">ID：<span id="menu-head-ID">225000</span></div>
			<div class="head-Int">我的积分：<span style="color: red" id="menu-head-bonus">120</span></div>
		</div>
		<div class="menu-list">
			<ul>
				<li id="menu_news">
					<img src="img/menu/menu_news.png" alt="意见反馈">
					<span>意见反馈</span>
				</li>
				<li id="menu-connect">
					<img src="img/menu/menu_phone.png" alt="联系我们">
					<span>联系我们</span>
				</li>
				<li id="menu-share">
					<img src="img/menu/menu_friend.png" alt="邀请好友">
					<span>邀请好友</span>
				</li>
				<li id="menu-help">
					<img src="img/menu/menu_help.png" alt="帮助">
					<span>帮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;助</span>
				</li>
			</ul>
		</div>
	</div>
</div>