<div class="menu-list-helps">
	<div class="mask">	
		<div class="menu-list-helps-content">
			<div class="menu-list-helps-back2">
				<!-- <div class="menu-list-help-close" id="close"></div> -->
				<button class="menu-list-help-close" id="close"></button>
				<div class="menu-list-help-main-content">
					<h4>关于大家抓抓乐</h4>
					<p>由上海质擎信息科技有限公司开发的[大家抓抓乐]是一款能在线抓娃娃的娱乐产品，在网络环境下进入首页后，选择一款您心仪的奖品，消耗相应金币或券，便可通过手机远程操控娃娃机进行抓取。抓取界面能够切换正面与侧面的视角，方便您进行更为准确的操作。成功抓取后，您所获的奖品将会进入背包，选择购物车中的奖品并设置收货地址，便可享受全国范围内的配送服务。消耗金币抓取还能获得一定的积分，可用于积分商城中兑换更多奖品。</p>
					<h4>游戏流程</h4>
					<p>1.选择心仪的娃娃机，点击进入</p>
					<div class="help-img">
						<img src="img/menulist/menu_help/help1.png" style="width: 4rem">
					</div>
					
					<p>2.房间空闲情况下，点击开始游戏，消耗金币或券开始抓娃娃</p>
					<div class="help-img">
						<img src="img/menulist/menu_help/help2.png" style="width: 6rem">
					</div>
					
					<p>3.点击切换摄像头</p>
					<div class="help-img">
						<img src="img/menulist/menu_help/help3.png" style="width: 4rem">
					</div>
					<p>4.点击操作按键进行抓取操作</p>
					<div class="help-img">
						<img src="img/menulist/menu_help/help4.png" style="width: 6rem">
					</div>
					<p>5.抓取到的娃娃在背包确认，请在抓取到之后15天内申请邮寄</p>
					<div class="help-img">
						<img src="img/menulist/menu_help/help5.png" style="width: 6rem">
					</div>					
					<h4>关于商品抓取</h4>
					<p>1.只有在商品真正掉落进洞底时，才视为抓取成功。</p>
					<p>例如，商品悬挂在爪子上，不算抓取成功。</p>
					<p>2.复数商品同时掉入洞口时，视为一个商品。</p>
					<p>3.系统提示抓取成功，但经运营工作人员确认掉落口无物品的情况视为无效抓取，我司客服会与您及时沟通。</p>
					<p>4.实际操作中成功抓取，但系统未判断成功时，请及时联系我司客服，我司会根据抓取监控，将此商品补偿给您。</p>
					<h4>关于发货</h4>
					<p>1.已抓到/兑换的商品会在背包内保存15天时间，15天内未下单商品自动回收。</p>
					<p>2.已下单商品，会在下单后72小时内发货。</p>
					<p>3.商品按款式随机发货，不区分颜色。</p>
					<p>4.收到商品后，如无质量问题一律不退换。</p>
					<h4>关于网络故障</h4>
					<p>此APP对网络环境要求较高，网络环境较差的情况下可能会导致视频黑屏、延迟较大甚至无法操作的情况发生，此种情况我们无法对您进行补偿，为了您的切身利益，请在网络通畅时进行游戏。</p>
				</div>	
			</div>

		</div>	
	</div>				
</div>	