<div class="menu-list-signs">
	<div class="mask">	
		<div class="menu-list-signs-content">
			<div class="menu-list-signs-back2">
					<div class="menu-list-sign-title"></div>
					<!-- <div class="menu-list-sign-close" id="close"></div> -->
					<button class="menu-list-sign-close" id="close"></button>
					<div class="menu-list-sign-button">
						<button id="sign-query" class="query"></button>
					</div>
				<div class="menu-list-sign-main-content">
					<div class="top">
						<div class="item item1">
							<div class="item-title">第一天</div>
							<div class="item-content" id="sign-img1">
								<!-- <img src="img/sign/ok.png" id="ok"> -->
								<img src="img/sign/gold1.png" alt="金币">
							</div>
						</div>
						<div class="item item2">
							<div class="item-title">第二天</div>
							<div class="item-content" id="sign-img2">
								<img src="img/sign/gold1.png" alt="金币">
							</div>
						</div>
						<div class="item item3">
							<div class="item-title">第三天</div>
							<div class="item-content" id="sign-img3">
								<img src="img/sign/gold1.png" alt="金币">
							</div>
						</div>
					</div>
					<div class="bottom">
						<div class="item item4">
							<div class="item-title">第四天</div>
							<div class="item-content" id="sign-img4">
								<img src="img/sign/gold1.png" alt="金币">
							</div>
						</div>
						<div class="item item5">
							<div class="item-title">第五天</div>
							<div class="item-content" id="sign-img5">
								<img src="img/sign/gold1.png" alt="金币">
							</div>
						</div>
						<div class="item item6">
							<div class="item-title">第六天</div>
							<div class="item-content" id="sign-img6">
								<img src="img/sign/gold1.png" alt="金币">
							</div>
						</div>
						<div class="item item7">
							<div class="item-title">第七天</div>
							<div class="item-content" id="sign-img7">
								<img src="img/sign/gold1.png" alt="金币">
							</div>
						</div>
					</div>
				</div>	

			</div>

		</div>	
	</div>				
</div>	





