.tip{
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	z-index: 2;
}
.tip .tip-content{
	width: 10rem;
    height: 5rem;
    position: absolute;
    top: 50%;
    margin-top: -2.5rem;
    left: 50%;
    margin-left: -5rem;
}
.tip .tip-content-fun{
	width: 12rem;
    height: 5rem;
    position: absolute;
    top: 50%;
    margin-top: -2.5rem;
    left: 50%;
    margin-left: -6rem;
}

.tip .tip-content .tip-main-content{
	width: 100%;
	height: 100%;
	position: relative;
	background: url(../img/tip/back.png);
	background-size: 100% 100%;
}
.tip .tip-content .tip-main-content .close{
	width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    background: url(../img/tip/close.png);
    background-size: 100% 100%;
    padding: 0;
    border: 0;
    outline: none;
}
.tip .tip-content .tip-main-content .button{
	width: 4rem;
	height: 2rem;
	position: absolute;
	bottom: -1rem;
	left:50%;
	margin-left: -2rem;
	background: url(../img/tip/query.png);
	background-size: 100% 100%;
	padding: 0;
    border: 0;
    outline: none;
}
.tip .tip-content .tip-main-content .button-cancer{
	width: 4rem;
	height: 2rem;
	position: absolute;
	bottom: -1rem;
	left: 1.5rem;
    background: url(../img/menulist/menu_news/canser.png);
    background-size: 100% 100%;
}
.tip .tip-content .tip-main-content .button-query{
	width: 4rem;
	height: 2rem;
	position: absolute;
	bottom: -1rem;
	right:1.5rem;
	background: url(../img/tip/query.png);
	background-size: 100% 100%;
}


.tip .tip-content .tip-main-content .tip-info{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 1.5rem;
    text-align: center;
    line-height: 1rem;
    color: #ad1515;
}