<div class="menu-list-selectAddresss">
	<div class="mask">	
		<div class="menu-list-selectAddresss-content">
			<div class="menu-list-selectAddresss-back2">
					<div class="menu-list-selectAddress-title"></div>
					<!-- <div class="menu-list-addedaddress-close" id="close"></div> -->
					<button class="menu-list-selectAddress-close" id="close"></button>
					<div class="menu-list-selectAddress-button">
						<button id="buy-query" class="query"></button>
						<button id="selectAddress-query" class="query"></button>
					</div>
				<div class="menu-list-selectAddress-main-content" id="menu-list-selectAddress-select">
				</div>	

			</div>

		</div>	
	</div>				
</div>	





