<div class="menu-list-addedaddresss-1">
	<div class="mask">	
		<div class="menu-list-addedaddresss-content">
			<div class="menu-list-addedaddresss-back2">
					<div class="menu-list-addedaddress-title"></div>
					<!-- <div class="menu-list-addedaddress-close" id="close"></div> -->
					<button class="menu-list-addedaddress-close" id="close"></button>
					<div class="menu-list-addedaddress-button">
						<button id="addedaddress-query" class="query"></button>
					</div>
				<div class="menu-list-addedaddress-main-content" id="menu-list-addedaddress-input">
					<div class="item">
						<div class="title">省市：</div>
						<!-- <div class="content"><input type="text" id="city"></div> -->
						<div class="content" id="city_select" style="width: 9rem;">
							<select class="prov" id="prov">
							</select> 
							<select class="city" id="city">
							</select>
						</div>
					</div>
					<div class="item">
						<div class="title" style="width: 4rem;">具体地址：</div>
						<div class="content" style="width: 8rem;">
							<input type="text" id="address-detail">
						</div>
					</div>
					<div class="item">
						<div class="title">姓名：</div>
						<div class="content">
							<input type="text" id="name">
						</div>
					</div>
					<div class="item">
						<div class="title">手机：</div>
						<div class="content">
							<input type="text" id="phone">
						</div>
					</div>
				</div>	

			</div>

		</div>	
	</div>				
</div>	





