<div class="menu-list-news">
	<div class="mask">	
		<div class="menu-list-news-content">
			<div class="menu-list-news-back2">
					<div class="menu-list-new-title"></div>
					<!-- <div class="menu-list-new-close" id="close"></div> -->
					<button class="menu-list-new-close" id="close"></button>
					<div class="menu-list-new-button">
						<button id="cancer"></button>
						<button id="opinion-query" class="query"></button>
					</div>
				<div class="menu-list-new-main-content">
					<textarea maxlength="350" id="textarea" class="search_textarea" placeholder="请输入反馈意见，不超过350个字"></textarea>
				</div>	
				<p><i id="wordsNumber">0</i>/350个字</p>

			</div>

		</div>	
	</div>				
</div>	