<div class="menu-list-shares">
	<div class="mask">	
		<div class="menu-list-shares-content">
			<div class="menu-list-shares-back2">
					<div class="menu-list-share-title"></div>
					<!-- <div class="menu-list-share-close" id="close"></div> -->
					<button class="menu-list-share-close" id="close"></button>
					<div class="menu-list-share-button">
						<button id="cancer"></button>
						<button id="share-query" class="query"></button>
					</div>
				<div class="menu-list-share-main-content">
					<div class="item item1">
						<img src="img/menulist/menu_share/share-icon1.png" alt="微信">
						<span>发送给朋友</span>
					</div>
					<div class="item item2">
						<img src="img/menulist/menu_share/share-icon2.png" alt="朋友圈">
						<span>分享到朋友圈</span>
					</div>
				</div>	
			</div>

		</div>	
	</div>				
</div>	