<div class="menu-list-ranks" id="menu-list-ranks">
	<div class="menu-list-ranks-content">
		<div class="menu-list-ranks-back2">
			<button class="menu-list-rank-close" id="close"></button>
			<button class="menu-list-rank-tab1" id="rank-tab1"><img src="img/menulist/menu_rank/tab1.png" alt="富豪榜"></button>
			<button class="menu-list-rank-tab2" id="rank-tab2"><img src="img/menulist/menu_rank/tab2.png" alt="达人榜"></button>
			<div class="menu-list-rank-main-content">
				<ul id="menu-rank-list">
				</ul>
			</div>	
		</div>
		<div class="my-rank">我的排名：未上榜</div>
	</div>				
</div>	