<div class="menu-list-modifyNames">
	<div class="mask">	
		<div class="menu-list-modifyNames-content">
			<div class="menu-list-modifyNames-back2">
					<div class="menu-list-modifyName-title"></div>
					<!-- <div class="menu-list-modifyName-close" id="close"></div> -->
					<button class="menu-list-modifyName-close" id="close"></button>
					<div class="menu-list-modifyName-button">
						<button id="cancer"></button>
						<button id="modifyName-query" class="query"></button>
					</div>
				<div class="menu-list-modifyName-main-content">
					<p>您的新名字</p>
					<div class="input-name">
						<input type="text" id="name" placeholder="请输入您的新名字">
					</div>
				</div>
			</div>

		</div>	
	</div>				
</div>	