<div class="mask menu">
	<div class="menu-content">
		<div class="menu-head">
			<div class="head-img" id="menu-head-img"></div>
			<div class="upHeadImg">
				<input type="file" name="head_img" accept="image/*" class="file" id="headImg-file" onchange="upHeadImg(this)">			
			</div>
			<div class="head-name" id="head-name">
				<span id="menu-head-name">我是猫猫咪</span>
				<img src="img/menu/menu_write.png" alt="编辑">
			</div>
			<div class="head-ID">ID：<span id="menu-head-ID">225000</span></div>
			<div class="head-Int">我的积分：<span style="color: red" id="menu-head-bonus">120</span></div>
		</div>
		<div class="menu-list">
			<ul>
				<li id="menu-rank">
					<img src="img/menu/menu_rank.png" alt="排行榜">
					<span>排&nbsp;行&nbsp;榜</span>
				</li>
				<li id="menu-shoppingMall">
					<img src="img/menu/menu_shoppingMall.png" alt="积分商城">
					<span>积分商城</span>
				</li>				
				<li id="menu-news">
					<img src="img/menu/menu_news.png" alt="意见反馈">
					<span>意见反馈</span>
				</li>
				<li id="menu-connect">
					<img src="img/menu/menu_phone.png" alt="联系我们">
					<span>联系我们</span>
				</li>
				<li id="menu-share">
					<img src="img/menu/menu_friend.png" alt="邀请好友">
					<span>邀请好友</span>
				</li>
				<li id="menu-help">
					<img src="img/menu/menu_help.png" alt="帮助">
					<span>帮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;助</span>
				</li>
				<li id="menu-address">
					<img src="img/menu/menu_address.png" alt="地址列表">
					<span>地址列表</span>
				</li>
				<li id="menu-exchange">
					<img src="img/menu/menu_exchange.png" alt="帮助">
					<span>兑&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;换</span>
				</li>					
				<li id="menu-bindAccount" style="display: none;">
					<img src="img/menu/menu_bindAccount.png" alt="绑定账号">
					<span>绑定账号</span>
				</li>
				<li id="menu-switchAccount">
					<img src="img/menu/menu_switchAccount.png" alt="切换账号">
					<span>切换账号</span>
				</li>
				<li id="menu-version">
					<img src="img/menu/menu_version.png" alt="当前版本">
					<span>当前版本</span>
				</li>				
			</ul>
		</div>
	</div>
</div>