<div class="menu-list-exchanges">
	<div class="mask">	
		<div class="menu-list-exchanges-content">
			<div class="menu-list-exchanges-back2">
					<div class="menu-list-exchange-title"></div>
					<!-- <div class="menu-list-exchange-close" id="close"></div> -->
					<button class="menu-list-exchange-close" id="close"></button>
					<div class="menu-list-exchange-button">
						<button id="cancer"></button>
						<button id="exchange-query" class="query"></button>
					</div>
				<div class="menu-list-exchange-main-content">
					<p class="tip-p">输入兑换码</p>
					<div class="input-code">
						<div class="input"><input type="text" id="code-value" placeholder="请输入您的兑换码"></div>
						<button class="input-btn" id="lookFor"></button>
					</div>
					<div class="code-img" id="code-img">
						<img src="img/menulist/menu_exchange/code-img.png" alt="">
					</div>
					<div class="code-content hide" id="code-content">
						<p>奖励内容包含：</p>
						<div class="get-pic" id="get-pic" style="text-align: center;">
							<img src="img/index/coin_left.png" alt="奖品">
							x100
						</div>
						<p>点击确定获取奖励</p>
					</div>
				</div>	
			</div>

		</div>	
	</div>				
</div>	