.main-container .menu-list-shares{
    width: 100%;
    height: 100%;
/*     background: url(../../img/menulist/menu_news/back.png);
background-size: 100% 100%; */
    position: absolute;
    top: 0;
}

.main-container .menu-list-shares-content{
    width: 15rem;
    height: 13rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -7.5rem;
    margin-top: -7rem;
    background: url(../../img/menulist/menu_news/back1.png);
    background-size: 100% 100%;
}
.main-container .menu-list-shares-back2{
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 0 2.5rem;
    padding-top: 2.5rem;
}
.main-container .menu-list-shares-back2 p{
    color: #7d1010;
    text-align: right;
    width: 100%;
    height: 1rem;
    box-sizing: border-box;
    padding-right: 0.5rem;
    line-height: 1rem;
    font-size: 0.6rem;
}
.main-container .menu-list-share-title{
	width: 6.8rem;
    height: 3rem;
    background: url(../../img/menulist/menu_share/title.png);
    background-size: 100% 100%;
    position: absolute;
    top: -1.5rem;
    left: 50%;
    margin-left: -3.5rem;
}
.main-container .menu-list-share-close{
    position: absolute;
	width: 1.8rem;
    height: 1.8rem;
    right: 1rem;
    top: 1rem;	
    background: url(../../img/menulist/menu_news/close.png);
    background-size: 100% 100%;
}
.main-container .menu-list-share-button{
    width: 100%;
    height: 3rem;
    position: absolute;
    bottom: -1rem;
    left: 0;
    box-sizing: border-box;
    padding: 0 2rem;
    overflow: hidden;
}
.main-container .menu-list-share-button button{
    width: 5rem;
    height: 2.6rem;
    border: 0;
    padding: 0;
}
.main-container .menu-list-share-button button#cancer{
	float: left;
    background: url(../../img/menulist/menu_news/canser.png);
    background-size: 100% 100%;
}
.main-container .menu-list-share-button button.query{
	float: right;
    background: url(../../img/menulist/menu_news/query.png);
    background-size: 100% 100%;
}
.main-container .menu-list-share-main-content{
    width: 10rem;
    height: 7rem;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 1rem;
}
.main-container .menu-list-share-main-content .item{
    width: 100%;
    height: 3rem;
    overflow: hidden;
    line-height: 3rem;
}
.main-container .menu-list-share-main-content .item img{
    float: left;
    width: 2.5rem;
    margin-top: 0.3rem;
    margin-right: 0.5rem;
}
.main-container .menu-list-share-main-content .item span{
    float: left;
    color: #ac001c;
}